a {
    text-decoration: none;
}

header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 40;
}

strong {
    font-weight: 700;
}

.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-title {
    margin-bottom: 10px;
}

.main-title a {
    display: flex;
    align-items: center;
}

.icon img {
    width: 40px;
    height: auto;
    aspect-ratio: 40 / 24;
}

.main-title-txt {
    padding-left: 3px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5rem;
    color: #000;
}

.main-title-txt span {
    display: none;
}

.nav-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.nav-list li a {
    display: block;
    font-size: 12px;
    padding: 5px;
    color: #000;
}

.nav-list li {
    height: 100%;
    position: relative;
    text-align: center;
}

.nav-list li + li::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 1.5em;
    background-color: #ff1376;
    top: 0px;
    bottom: 0px;
    left: -1px;
    margin: auto;
}

.banner {
    width: 100%;
    padding-top: 64px;
    padding-bottom: 80px;
    background-image: url(/img/banner-home-aca80ad097b4d77ffa3b82879b5d14a8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 30% 100%, 0px 88%);
    z-index: 0;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    background-color: rgba(24, 30, 45, 0.75);
    z-index: 10;
}

.banner-container {
    position: relative;
    z-index: 20;
    box-sizing: border-box;
}

.banner-txt {
    color: #fff;
    padding-bottom: 64px;
    margin-bottom: 5px;
}

.banner-txt h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-txt h3 {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 64px;
}
.banner-txt a {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #ff133e;
    line-height: 100%;
    border-radius: 0.25em;
    transition: all 0.15;
}

.banner-txt a:hover {
    background-color: #b91c1c;
}

.course-features {
    margin-top: 80px;
    margin-bottom: 96px;
}

.features-heading h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 22px;
    position: relative;
}

.features-heading h2 span {
    display: inline-block;
}

.features-heading h2::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2em;
    height: 2px;
    background-color: rgb(255, 19, 62);
}

.features-heading h4 {
    font-size: 20px;
    text-align: center;
    line-height: 1.25;
}

.features-info {
    margin-top: 50px;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(57, 65, 80);
    margin-bottom: 40px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

.feature-pic img {
    width: 230px;
    height: auto;
    aspect-ratio: 230 / 175;
    vertical-align: middle;
}

.feature-txt h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-top: 16px;
    margin-bottom: 8px;
}

.lecturers-introduce {
    background-color: #f9fafb;
    position: relative;
}

.lecturers-introduce::before {
    content: "";
    display: block;
    width: 100%;
    height: 64px;
    background-color: #f9fafb;
    position: absolute;
    left: 0;
    top: -63.52px;
    clip-path: polygon(30% 0px, 0px 100%, 100% 100%);
}

.lecturers-container {
    padding-top: 64px;
    padding-bottom: 80px;
}

.lecturers-heading {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.lecturers-heading h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 12px;
    margin-bottom: 20px;
    color: rgb(57, 65, 80);
    position: relative;
}

.lecturers-heading h2::after {
    content: "";
    display: block;
    width: 2em;
    height: 2px;
    background-color: rgb(255, 19, 62);
    position: absolute;
    bottom: 0;
    left: 0;
}

.lecturers-heading h4 {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(57, 65, 80);
}

.lecturers-info {
    margin-left: 0;
    margin-right: 0;
}

.lecturer {
    background-color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 6px rgba(113, 128, 150, 0.1);
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(229, 231, 235);
}

.personal-pic {
    margin-bottom: 16px;
}

.personal-pic img {
    width: 160px;
    height: auto;
    aspect-ratio: 160 / 160;
    vertical-align: middle;
    border-radius: 10em;
}

.personal-title {
    text-align: center;
}

.personal-title h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

.personal-title h4 {
    padding-bottom: 8px;
    margin-bottom: 24px;
    position: relative;
}

.personal-title h4::after {
    content: "";
    display: block;
    width: 3em;
    height: 2px;
    background-color: rgb(255, 19, 62);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.social-media li a {
    display: inline-block;
    font-size: 18px;
    color: rgb(160, 166, 177);
    padding: 8px;
}

.curriculum-vitae {
    margin-top: 28px;
    margin-bottom: 28px;
}

.curriculum-vitae p {
    margin-bottom: 8px;
    line-height: 1.5;
}

.curriculum-vitae p a {
    color: rgb(255, 19, 62);
}

.other-courses {
    margin-bottom: 16px;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
}

.courses-list a {
    display: inline-block;
    border: 1px solid rgb(255, 19, 62);
    border-radius: 0.3em;
    color: rgb(255, 19, 62);
    padding: 8px 12px;
    margin-bottom: 16px;
    margin-right: 16px;
    transition: all 0.3;
}

.courses-list a:hover {
    background-color: rgb(255, 19, 62);
    color: #fff;
}

.media-reports {
    background-color: rgba(249, 250, 251);
}

.reports-container {
    padding-bottom: 176px;
}

.reports-heading h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 20px;
    position: relative;
}

.reports-heading h2::after {
    content: "";
    display: block;
    width: 2em;
    height: 2px;
    background-color: #ff133e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.reports-area {
    margin-top: 64px;
    margin-bottom: 64px;
}

.report a {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 1.3;
    display: block;
    margin-bottom: 16px;
}

.report a span {
    color: #6c727f;
    font-size: 16px;
    font-weight: 400;
}

.more-reports {
    text-align: center;
}

.more-reports a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #ff133e;
    line-height: 100%;
    border-radius: 0.25em;
    transition: all 0.15;
}

.more-reports a:hover {
    background-color: #b91c1c;
}

.short-term-courses {
    background-color: #29303e;
    position: relative;
}

.short-term-courses::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: -63.52px;
    background-color: #29303e;
    clip-path: polygon(30% 0px, 0px 100%, 100% 100%);
}

.short-term-courses::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    bottom: -63.52px;
    background-color: #29303e;
    clip-path: polygon(70% 100%, 0px 0px, 100% 0px);
}

.short-term-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.short-term-row {
    margin-left: 0px;
    margin-right: 0px;
}

.short-term-heading {
    margin-bottom: 48px;
}

.short-term-heading h2 {
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.short-term-heading h2::after {
    content: "";
    display: block;
    width: 2em;
    height: 2px;
    background-color: #ff133e;
    position: absolute;
    bottom: 0;
    left: 0;
}

.short-term-heading h4 {
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: rgb(160, 166, 177);
}

.short-term-intro {
    margin: 80px 0px 80px auto;
    padding: 20px;
    position: relative;
    color: #fff;
    background-color: rgb(255, 19, 62);
}

.short-term-intro::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: -39.68px;
    background-color: rgb(255, 19, 62);
    clip-path: polygon(70% 0px, 0px 100%, 100% 100%);
}

.short-term-intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: -39.68px;
    background-color: rgb(255, 19, 62);
    clip-path: polygon(30% 100%, 0px 0px, 100% 0px);
}

.short-term-intro h3 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.short-term-intro h4 {
    line-height: 1.5;
    margin-bottom: 20px;
}

.short-term-intro a {
    color: #fff;
    margin-bottom: 20px;
}

.slideshow li {
    list-style: square;
    color: rgb(160, 166, 177);
    position: relative;
    top: 1em;
    left: -2em;
}

.recent-courses-heading {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.recent-courses {
    margin-top: 24px;
}
.course-pic img {
    object-position: center center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.course-txt {
    padding: 16px;
    background-color: #fff;
    margin-top: -3px;
}

.course-session {
    padding-bottom: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.course-session h3 {
    position: absolute;
    z-index: -20;
}

.course-session span {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px;
    margin-right: 8px;
}

.class-teacher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.more-course {
    margin-top: 24px;
    text-align: center;
}

.more-course a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #ff133e;
    line-height: 100%;
    border-radius: 0.25em;
    transition: all 0.15;
}
.more-course a:hover {
    background-color: #b91c1c;
}

@media screen and (min-width: 768px) {
    .nav-list li a {
        font-size: 16px;
    }

    .banner {
        padding-top: 80px;
        clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 30% 100%, 0px 80%);
    }

    .banner-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .challenging {
        margin-left: auto;
        margin-right: auto;
    }

    .personal-info {
        flex-direction: row;
    }

    .personal-title {
        margin-left: 24px;
        text-align: left;
    }

    .social-media {
        justify-content: flex-start;
    }

    .personal-title h4::after {
        right: unset;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .main-title {
        margin-bottom: 0px;
    }

    .nav-list > * {
        width: unset;
    }

    .nav-list li a {
        font-size: 18px;
        padding: 20px 0px;
        margin: 0px 20px;
        position: relative;
    }

    .nav-list a:hover:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ff1376;
        left: 0px;
        bottom: 0px;
    }

    .nav-list li + li::before {
        display: none;
    }

    .banner {
        clip-path: polygon(0px 0px, 100% 0px, 100% 77%, 35% 100%, 0px 77%);
    }

    .banner-txt h1 {
        font-size: 60px;
    }
    .lecturer {
        width: calc(50% - var(--grid-gap) / 2);
    }

    .lecturers-info {
        justify-content: space-between;
    }

    .recent-courses-heading {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .main-title-txt span {
        display: unset;
    }
    .banner-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}
